<app-header titulo="Estado"></app-header>
<ion-content>

<ion-grid>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-content text-center>
                    <ion-grid>
                        <ion-row>
                            <ion-col class="resaltar"> 
                                    {{minu }}:{{segund}} 
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    
                </ion-card-content>
            </ion-card>
                
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
